<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/patients">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/appointments">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hospitals">Hospitals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users">Users</a>
                </li>
            </ul>
    </div>
</div>